.patch-grid {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.patch-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  border: white 2px solid;
  padding: 10px;
}

.patch-image-container {
  width: 90%;
  margin: auto;
}
.patch-image {
  width: 90%;
  object-fit: cover;
}