.patch-grid {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-evenly;
  max-height: 500px;
  overflow: scroll;
}

@media (max-width: 1350px) {
  .patch-grid {
    grid-template-columns: 90%;
  }
}

@media (max-width: 725px) {
  .patch-grid {
    grid-template-columns: 100%;
  }
}

.patch-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  border: white 2px solid;
  padding: 10px;
  margin: 20px 0px;
  min-width: 285px;
}

.patch-image-container {
  width: 90%;
  margin: 0 auto;
}
.patch-image {
  width: 90%;
  object-fit: cover;
}

.pie-chart-container {
  display: grid;
  justify-content: center;
  min-width: 285px;
}
.recharts-surface {
  margin: 0 auto;
}