.landing__container {
  margin: 150px auto;
  text-align: center;
  width: 50%;
  color: #FFC312;
  padding: 50px;
  border-radius: 15px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7));
}