.create-hike-title {
  text-align: center;
  color: white;
  margin-top: 25px;
}

.create-hike-label {
  margin-top: 18px;
  margin-left: 75px;
  font-weight: bolder;
}

.create-hike-container {
  min-width: 350px;
  width: 50%;
  margin: 50px auto;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffc312;
  border: solid 2px #ffc312;
}

.create-hike-button {
  border: none;
  margin: 15px 50px 25px 75px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #ffc312;

  &:hover {
    background: #ffc312;
    color: whitesmoke;
  }
}
.create-hike-textarea {
  padding: 12px;
  border-radius: 8px;
  display: block;
  width: 75%;
  margin: 5px auto;
}
