.profile-container {
  width: 100%;
  margin: 0 auto;
}

.profile-info {
  width: 50%;
  margin: 0 auto;
  color: whitesmoke;
  border: 2px solid gold;
  border-radius: 15px;
  padding: 10px;
  background: rgba(0,0,0,0.6);
  min-width: 320px;
}
