.profile-container {
  width: 100%;
  margin: 0 auto;
}

.profile-info {
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
  color: whitesmoke;
  border: 0.25px solid gold;
  border-radius: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  min-width: 320px;
  text-align: center;
}

.profile-information-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 800px) {
  .profile-info {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .email-font {
    font-size: 1.5em;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.image-container {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px auto;
  border: 0.25px solid gold;
}
.image-click:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.edit-user-title {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #ffc312;
  border: 0.25px solid gold;
}

.edit-user-footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #ffc312;
  border: 0.25px solid gold;
}

.edit-user-input {
  display: block;
  width: 75%;
  margin: 5px auto;
}
.edit-user-body {
  background: whitesmoke;
}
.edit-user-label {
  margin-left: 25px;
  font-weight: bolder;
}

.edit-user-container {
  min-width: 350px;
  width: 50%;
  margin: 50px auto;
  border-radius: 15px;
}

.edit-user-button {
  border: none;
  margin: 25px 50px 25px 75px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #ffc312;
  font-weight: bolder;

  &:hover {
    background: #ffc312;
    color: whitesmoke;
  }
}
.user-picture-container {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.show-more {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  &:hover {
    cursor: pointer;
  }
}
