.hike-grid {
  width: 90%;
  display: grid;
  margin: 0 auto;
  margin-top: 25px;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
}
.hike-card {
  border: 2px solid gold;
  border-radius: 15px;
  padding: 10px;
  background: rgba(0,0,0,0.6);
  min-width: 320px;
}
.hike-information-row{
  display: flex;
  justify-content: space-between;
}
.hike-information-label {
  color: lightgoldenrodyellow;
}
.hike-information-data {
  align-self: flex-end;
  color: whitesmoke;
}
.date-title {
  border-bottom: 5px solid gray;
  margin-bottom: 10px;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.click-to-edit {
  transform: rotateZ(90deg);
}

.click-to-edit:hover {
  cursor: pointer;
  transform: scale(1.1) rotateZ(90deg);
}
.hike-picture-container{
  display: flex;
  justify-content: center;
}
.hike-picture {
  height: 200px;
  width: auto;
}

.name-plate {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.name-plate-label {
  margin-top: 10px;
}

.feed-image-container {
  height: 34px;
  width: 34px;
  margin-right: 12px;
  overflow: hidden;
  border-radius: 50%;
}
.feed-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
