.search-bar-container {
  padding: 10px;
  padding-left: 30px;
  width: 275px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  border: 0.25px solid gold;
}
.search-input {
  margin-left: 10px;
  padding: 2px;
  font-weight: bolder;
  border-radius: 2px;

  &:focus {
    outline-color: black;
  }
}
