.search-bar-container {
  padding: 10px;
  padding-left: 30px;
  width: 275px;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 25px;
  border: 2px gold solid;
}
.search-input {
  margin-left: 10px;
  padding: 2px;
  font-weight: bolder;
  border-radius: 2px;
}