.auth__container {
  padding: 24px;

  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffc312;
  min-width: 350px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;

  form {
    margin-bottom: 8px;
  }
}
.auth-label {
  margin-left: 100;
}
.auth-title {
  margin-bottom: 24px;
  margin-top: 24px;
}
