.sign-in {
  margin-top: 50px;
  border-radius: 15px;
  background: rgba(0,0,0,0.6);
  color: #FFC312;
}

.sign-in-button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background: #FFC312;

  &:hover{
      background: #FFC312;
      color: white;
  }
}